# Data PreProcessing

### *Import Libraries

In [4]:
#Define data set
import numpy as np
import pandas as pd

#Define scalling data
from sklearn.preprocessing import StandardScaler,LabelEncoder

#define Data viz
import matplotlib.pyplot as plt
import seaborn as sns

#Define Model Built
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error,r2_score

### *Importing DATA

In [7]:
df = pd.read_csv('./Data/Student_performance_data _.csv')

### *EDA

In [10]:
df.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   int64
 4   ParentalEducation  2392 non-null   int64
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2392 non-null   int64
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       2392 non-null   int64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB

In [14]:
df.columns

Index(['StudentID', 'Age', 'Gender', 'Ethnicity', 'ParentalEducation',
       'StudyTimeWeekly', 'Absences', 'Tutoring', 'ParentalSupport',
       'Extracurricular', 'Sports', 'Music', 'Volunteering', 'GPA',
       'GradeClass'],
      dtype='object')

In [16]:
df.describe

<bound method NDFrame.describe of       StudentID  Age  Gender  Ethnicity  ParentalEducation  StudyTimeWeekly  \
0          1001   17       1          0                  2        19.833723
1          1002   18       0          0                  1        15.408756
2          1003   15       0          2                  3         4.210570
3          1004   17       1          0                  3        10.028829
4          1005   17       1          0                  2         4.672495
...         ...  ...     ...        ...                ...              ...
2387       3388   18       1          0                  3        10.680555
2388       3389   17       0          0                  1         7.583217
2389       3390   16       1          0                  2         6.805500
2390       3391   16       1          1                  0        12.416653
2391       3392   16       1          0                  2        17.819907

      Absences  Tutoring  ParentalSupport  Extracurricular  Sports  Music  \
0            7         1                2                0       0      1
1            0         0                1                0       0      0
2           26         0                2                0       0      0
3           14         0                3                1       0      0
4           17         1                3                0       0      0
...        ...       ...              ...              ...     ...    ...
2387         2         0                4                1       0      0
2388         4         1                4                0       1      0
2389        20         0                2                0       0      0
2390        17         0                2                0       1      1
2391        13         0                2                0       0      0

      Volunteering       GPA  GradeClass
0                0  2.929196         2.0
1                0  3.042915         1.0
2                0  0.112602         4.0
3                0  2.054218         3.0
4                0  1.288061         4.0
...            ...       ...         ...
2387             0  3.455509         0.0
2388             0  3.279150         4.0
2389             1  1.142333         2.0
2390             0  1.803297         1.0
2391             1  2.140014         1.0

[2392 rows x 15 columns]>

In [18]:
df.dtypes

StudentID              int64
Age                    int64
Gender                 int64
Ethnicity              int64
ParentalEducation      int64
StudyTimeWeekly      float64
Absences               int64
Tutoring               int64
ParentalSupport        int64
Extracurricular        int64
Sports                 int64
Music                  int64
Volunteering           int64
GPA                  float64
GradeClass           float64
dtype: object

### *Handling Missing Values

In [21]:
df.isna().sum()

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

### *Feature Engineering

In [24]:
df.GradeClass = df.GradeClass.astype('object')

In [26]:
df.dtypes

StudentID              int64
Age                    int64
Gender                 int64
Ethnicity              int64
ParentalEducation      int64
StudyTimeWeekly      float64
Absences               int64
Tutoring               int64
ParentalSupport        int64
Extracurricular        int64
Sports                 int64
Music                  int64
Volunteering           int64
GPA                  float64
GradeClass            object
dtype: object

In [28]:
df.head(1)

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0

### *Handling Outliers

### *Data Vizulisation

# Model building

### *Train Test Split

In [36]:
x = df.drop(columns=['StudentID','GradeClass'])
y = df['GradeClass']

In [38]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [40]:
for i in x_train,y_train,x_test,y_test :
    print('-----'*25)
    print(i.head())
    print('-----'*25)

-----------------------------------------------------------------------------------------------------------------------------
      Age  Gender  Ethnicity  ParentalEducation  StudyTimeWeekly  Absences  \
642    18       1          0                  4        18.118879        24
1752   16       1          3                  2         2.469271        19
1401   17       0          2                  3         3.456401        25
2032   17       1          0                  1        15.838131        25
990    16       0          0                  0         1.045373        19

      Tutoring  ParentalSupport  Extracurricular  Sports  Music  Volunteering  \
642          1                0                1       1      0             0
1752         0                1                0       0      0             1
1401         0                0                0       0      0             0
2032         1                2                0       0      0             0
990          1                2                0       0      1             0

           GPA
642   1.396278
1752  0.754751
1401  0.136166
2032  1.172192
990   1.747356
-----------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------
642     4.0
1752    4.0
1401    4.0
2032    4.0
990     4.0
Name: GradeClass, dtype: object
-----------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------
      Age  Gender  Ethnicity  ParentalEducation  StudyTimeWeekly  Absences  \
1004   15       1          2                  4         0.135763        17
196    16       1          0                  4         1.989925         0
2342   15       0          0                  0        10.588715        15
1708   18       1          1                  2        16.208658         1
435    18       0          0                  0         3.576821        27

      Tutoring  ParentalSupport  Extracurricular  Sports  Music  Volunteering  \
1004         0                2                0       1      1             1
196          0                1                1       0      0             1
2342         0                3                0       0      0             1
1708         0                3                1       0      0             0
435          0                1                0       1      0             0

           GPA
1004  1.427724
196   3.117354
2342  2.037769
1708  3.548521
435   0.248977
-----------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------
1004    4.0
196     1.0
2342    2.0
1708    0.0
435     4.0
Name: GradeClass, dtype: object
-----------------------------------------------------------------------------------------------------------------------------

### *Model Initialization

In [43]:
model = LinearRegression()

### *Model Training

In [46]:
model.fit(x_train,y_train)

LinearRegression()

### *Hyper Parameter tuning

# evaluation & Result:

In [50]:
y_pred = model.predict(x_test)
print(y_pred)

[3.67786878 1.78069216 2.86699311 1.24359547 4.66764951 2.25459738
 2.96493866 2.66096251 2.61605697 4.22943703 2.58970013 4.11339926
 1.91317549 2.51753908 2.07198351 4.70018653 3.80339147 3.29656461
 2.86618694 2.49304657 3.08553722 3.41829248 3.13639578 1.61301277
 3.17836611 3.99180737 3.4718908  1.80538999 2.63021908 2.57230173
 2.88622201 4.12993062 1.98457271 1.27146879 3.21735127 3.0100534
 1.54479259 1.99578652 1.49265667 4.5536996  2.16752811 1.15219507
 3.81017517 2.83959503 4.01290383 2.55886696 2.01888771 3.54446535
 2.19966507 3.4058196  1.52151597 1.45046564 3.49845045 3.7091477
 3.00349106 1.3377347  2.54847087 1.48682068 4.25226716 2.73408277
 3.15583396 2.71391727 2.31703939 3.53732699 3.95833281 2.88027698
 1.71556407 2.50646755 3.79836891 1.52759136 1.2358123  3.75939681
 1.8346735  2.31285804 4.490379   2.14969002 2.91372579 3.13889649
 4.69120172 3.55904793 2.89366147 1.58928058 2.55203426 3.2300333
 3.41960779 4.45178794 0.83855745 3.7368312  3.56992056 3.26238227
 2.3286004  3.60232212 3.95325013 4.82946234 3.54380964 3.57590012
 1.53110247 3.89220855 3.24635834 3.26189086 4.98282732 2.76178524
 3.6945583  3.46977328 4.21094343 2.60516169 2.22891166 3.63284256
 3.41943602 4.38027363 2.93255723 2.64839202 1.18672914 4.433973
 4.44041205 3.83222364 2.88163287 1.75376375 3.75882017 2.67604338
 4.53741209 1.84760585 1.20607956 3.96208103 3.08398383 3.60824966
 2.14578492 3.6272427  2.63429286 1.90716183 3.8168706  0.86303976
 1.83783821 4.54308481 4.29928707 4.04886341 2.58106969 4.58793751
 4.38782361 3.88249075 2.19466201 3.11512133 1.40762307 3.39630264
 1.76604719 3.71669781 3.50196167 2.29113011 1.62978145 3.42480771
 1.60468516 4.13588967 1.23488809 3.5886785  3.76711667 4.40892332
 3.46589973 3.91205212 3.4819074  4.43151543 3.40166864 3.34050103
 4.25317145 4.56716757 4.37350617 4.59900574 3.75024039 3.75561177
 2.34309023 1.37637507 3.42700831 1.64104803 1.74435803 4.87487535
 3.82753374 2.28260825 2.60684444 3.70263656 2.66540693 3.22792225
 1.97170403 2.82446037 4.08576524 2.20947831 2.02678851 2.07578392
 1.53489117 3.52881493 4.66273467 3.02576079 4.02735423 2.83793413
 3.85946095 4.06070096 3.36507454 3.84175829 2.95113175 2.51713315
 1.95504132 2.60626452 3.50175482 1.81377353 4.45438437 2.68618262
 2.1535914  2.52087235 4.4498689  1.82899182 2.62338815 3.07549822
 3.73354308 3.70992506 3.00135138 1.95438762 2.18657609 3.9631106
 2.05766756 1.75681529 3.29151278 1.89145697 3.87051654 2.18736874
 1.08047344 4.34349779 2.86022696 3.00677146 1.74485969 2.04670626
 3.65711547 2.81873301 3.1801778  2.83044176 1.85337549 3.92906684
 1.77273466 2.29758988 4.45405857 3.88068356 1.98746979 4.38991641
 1.13619379 4.07175147 4.18362642 2.46662267 3.10531066 4.18654635
 2.63857149 3.84650451 4.47971357 2.79295057 3.84125266 1.90403319
 2.42001074 3.32265705 2.48030195 3.34387489 3.18823545 2.43119069
 4.98597751 3.3766703  2.81360286 4.59618462 3.70224631 4.14013721
 2.9999388  1.29631408 2.52818463 4.46812846 2.04195066 2.56441478
 3.71039054 1.7455195  3.51745812 3.19297634 3.54567168 2.85276871
 3.84204568 3.09226823 4.90164703 1.99675317 1.73155536 1.83454582
 2.81790581 3.33205884 1.48381646 2.73906498 3.79548931 3.33928183
 4.49948206 4.79438513 1.03888582 3.19141734 1.99933758 3.80384234
 2.09626046 3.99990923 1.75015433 3.05859724 4.84750681 1.71513488
 2.3281536  2.85557932 4.04664703 1.39527773 2.65528366 2.27795919
 4.19564339 2.24659256 4.03359672 3.02556688 3.52441346 2.95905349
 3.96359238 4.0013341  4.20284505 3.5517335  1.88670882 2.58441716
 2.36254644 3.01554917 3.03178316 3.26558641 3.3419939  2.57749608
 1.70195464 3.31076797 3.71131313 3.37411494 2.04845225 3.90266299
 3.01535643 2.04535293 2.58410108 2.19871124 1.52259596 2.1952998
 2.18556059 3.36756106 4.10785453 3.25063722 3.83154881 3.16094793
 3.86849014 3.29526333 2.96489902 2.45190049 1.6105969  1.67060151
 3.73619464 1.48566599 1.38183035 2.43405368 2.70088469 2.41858763
 3.08217377 3.34029313 2.72946312 3.36284195 4.54662268 2.95097083
 2.5313428  1.66956015 2.7261804  3.52005179 3.33871911 2.02423548
 0.89745141 2.20551023 2.38647667 2.62372787 4.23124381 2.5972872
 2.57722419 1.87203798 1.92693314 3.99140371 3.41587734 2.66768188
 1.26993597 4.30407864 2.87435786 2.28297265 4.44620261 1.85001697
 2.30973213 3.53407711 2.91662273 2.98476606 2.14910423 3.27108134
 2.52127798 3.77426667 4.2228462  2.22962895 2.64471926 1.93332127
 1.95471614 1.96539092 2.49189841 2.00963722 2.29180221 2.63691426
 2.47125295 1.59583576 2.7478623  1.75306969 3.6114534  1.20084232
 2.68745953 1.50951452 2.80787134 3.62414792 2.78754047 2.36441613
 1.73122451 2.96015638 4.62859195 1.26334001 2.40253956 3.44434112
 3.33052193 3.26540846 2.27944772 3.04585557 3.54734151 3.78173875
 4.6194336  2.37157688 3.11165925 1.78192971 1.43351997 3.15087455
 3.31816874 1.78560799 2.33236139 2.42735538 3.55681992 1.37478692
 2.68610439 3.37928981 3.43083769 1.69764135 2.24437042 1.65581997
 1.87231286 1.86202757 3.67437085 1.97709676 4.78695042 4.3747482
 2.61405215 4.42971797 1.83490311 2.87283601 1.29335241 2.95059462
 3.5894665  3.97639163 4.43832011 2.85674868 3.76866712 4.68749435
 4.51959118 3.30051994 2.65382721 4.75137903 4.5634817  2.00175231
 1.59412505 2.42883898 3.83274553 2.83065991 3.32823092 3.49481377
 3.39353435 2.73567921 2.40344873 2.02649569 4.07075503]

In [52]:
mae= mean_absolute_error(y_pred, y_test)
mse = mean_squared_error(y_pred, y_test)
r2_score = r2_score(y_pred, y_test)

print(f'mean_absolute_error:  {mae}')
print(f'mean_squared_error:\n  {mse}')
print(f'r2_score:\n  {r2_score}')

mean_absolute_error:  0.5423598590717797
mean_squared_error:
  0.5437997812834355
r2_score:
  0.41220122532179304

In [54]:
new_data ={
    'StudentID': [1002],
    'Age':[17],
    'Gender':[1],
    'Ethnicity': [0],
    'ParentalEducation': [2],
    'StudyTimeWeekly': [19.833723],
    'Absences': [7],
    'Tutoring': [1],
    'ParentalSupport': [2],
    'Extracurricular': [0],
    'Sports': [0],
    'Music': [1],
    'Volunteering': [2],
    'GPA': [2.929196]							
} 

df = pd.DataFrame(new_data)


# Drop the 'Id' column
new_X = df.drop(columns=['StudentID'])

# # Apply the same scaler used for the training data
# new_X_scaled = scaler.transform(new_X)

# # Convert the scaled data back to a DataFrame
# new_df_scaled = pd.DataFrame(new_X_scaled, columns=new_X.columns)

new_predictions = model.predict(new_X)

# Add predictions to the new data
df['GradeClass'] = new_predictions

print(df)

   StudentID  Age  Gender  Ethnicity  ParentalEducation  StudyTimeWeekly  \
0       1002   17       1          0                  2        19.833723

   Absences  Tutoring  ParentalSupport  Extracurricular  Sports  Music  \
0         7         1                2                0       0      1

   Volunteering       GPA  GradeClass
0             2  2.929196    2.137397

## Hyper Parameter Tuning